
body {
    margin: 0;
   
    font-size: 32px ;
    background-color: grey;
  }

#header-info {
    display: flex;
    justify-content: center;
    background: black;
    opacity: .8;
    height: 9rem;
    padding: 1rem;
  }

div#buttons {
  display: flex;
  justify-content: center;
  background: green;
  opacity: .8;
  height: 5rem;
  padding: 1rem;
}
  
  div#side-bar{
   background-color: gray;  
   width : 300px;
   position: absolute;
   top: 350px;
   min-height: 220px;
   margin-left: 10%;
   font-family: 'Press Start 2P', cursive;
   font-size: 20px
  }

  .text-on-page {
    color:white;
    font-family: 'Press Start 2P', cursive;
    float: left;
  }

  div#main.character-content {
    border: solid;
    border: black;
    top: 400px;
    margin-right: 320px;
    float: right;
    text-align: center;
    width: 240px;
    height: 400px;
    font-size: 24px;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
  }

 div#footer {
   bottom: 0px;;
    width: 70%;
    height:60px;   /* Height of the footer */
    margin-left: 600px;
    margin-right: 100px;
    background: gray;
}

  li {
  color: white
  }

button{
  background-color: greenyellow;
  border: solid black ;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 250px;
  
}

.form-label{
font-family: 'Press Start 2P', cursive;
 align-items: center;
}

button#filter-humans{
background-color: greenyellow;
border: solid black;

}

button#filter-aliens{
background-color: greenyellow;
border: solid black;
}


